body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.mobile-sort {
  display: none;
}

/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

/* CSS */

.rs-form-error-message-inner {
  color: red;
}
@font-face {
  font-family: "Alef";
  font-style: normal;
  font-weight: 400;
  src: local("Alef Regular"), local("Alef-Regular"),
    url("http://fonts.gstatic.com/s/alef/v6/gzq6OSepdeZ1VdycsVw6Vg.ttf")
      format("truetype");
}

.signature-imporve-modal .rs-modal-content {
  padding: 25px 3px 25px 3px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  display: flex;
  background-color: #ffffff;
  /* background-image: url("https://weirdoz.co.il/wp-content/uploads/2021/02/background-stars.png") !important; */
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.modal-signature-must {
  & .rs-modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .responsiveTable td .tdBefore {
    // left: 3rem;
    // text-align: right !important ;
  }
  .item-table.responsiveTable tr {
    // background-color: red;
    justify-content: space-between;
  }
  .responsiveTable td .tdBefore {
    display: none;
  }
  .responsiveTable td.pivoted {
    // padding-left: 10px !important;
    display: flex;
    width: 100%;
  }
  .pivoted span {
    /* position: absolute; */
    // left: 1rem;

    // margin-right: 30px;
    // text-align: right !important ;
  }
  .pivoted {
    /* position: absolute; */
    width: 100%;
  }
  .pivoted#td-card {
    padding-left: 0px !important;
  }
  .pivoted.profile-image#td-card {
    // position: absolute;
    // right: -1rem;
    // top: 1px;
    display: grid !important;
    justify-items: center !important;
    align-items: center !important;
    width: 100% !important;
    padding: 5px;
    padding-top: 15px;
    border-radius: 15px 15px 0px 0px;
    background-image: url("./assets/bg-card.svg");
    background-size: 100% 60%;
    background-position: top;
    background-repeat: no-repeat;
  }
  x .pivoted.profile-image .tdBefore {
    display: none;
  }
  .soldier-table.responsiveTable tbody tr {
    // padding: 20px;
    /* margin: 15px 0 15px 0; */
    // display: flex;
  }
  .Soldier .rs-form-control.rs-form-control-wrapper {
    width: 350px;
  }
  .add-soldier-dropdown button,
  ul,
  li {
    width: 100%;
    text-align: start;
  }
  .no-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  .table {
    tbody {
      display: grid;
      padding: 15px;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: 10px;
      tr {
        height: 240px;
        border-radius: 15px;
        background-color: #fcf9f9;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        padding-bottom: 15px;
        td {
          text-align: center;
          display: grid;
          justify-content: center;
          padding: 0;
          font-size: 15px;

          &.name {
            font-size: 16px;
            text-align: center !important;
            font-weight: 600;
            padding-left: 4px;
            padding-right: 4px;
          }
          &.team {
            font-weight: 600;
          }
        }
      }
    }
  }
}
.half-circle {
  width: 40px;
  height: 20px; /* as the half of the width */
  background-color: white;
  border-bottom-left-radius: 110px; /* 100px of height + 10px of border */
  border-bottom-right-radius: 110px; /* 100px of height + 10px of border */
  border: 10px solid gray;
  border-bottom: 0;
}
.filter-box-shadow {
  -webkit-box-shadow: 1px 15px 13px -11px rgba(104, 119, 240, 0.46);
  -moz-box-shadow: 1px 15px 13px -11px rgba(104, 119, 240, 0.46);
  box-shadow: 1px 15px 13px -11px rgba(104, 119, 240, 0.46);
}
.sidebar {
  // width: 100%;
}
@media screen and (max-width: 640px) {
  .sidebar {
    background-color: white;
    color: #318ce7;
    height: 100%;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.5s;
    z-index: 10;
  }
  .slidebar-shadow {
    box-shadow: -31px -60px 63px 219px rgba(84, 119, 240, 0.46);
  }
}
.slidebar-shadow {
  // box-shadow: 15px 15px 15px 15px;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#318ce7 0 0);
  background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  20% {
    background-size: 20% 60%, 20% 100%, 20% 100%;
  }
  40% {
    background-size: 20% 80%, 20% 60%, 20% 100%;
  }
  60% {
    background-size: 20% 100%, 20% 80%, 20% 60%;
  }
  80% {
    background-size: 20% 100%, 20% 100%, 20% 80%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}
.trash-icon:hover {
  & path:nth-last-child(-n + 3) {
    color: rgb(165, 163, 163) !important;
  }
}
